<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="DreamCatcher.css">
	
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="has-background-dark">
	<!-- "hero" - full width element at the top of the screen that gives has the title. -->
	<section class="section is-paddingless">
		<section class="hero is-dark">
			<div class="hero-body">
				<h1 class="title">DreamCatcher™</h1>
				<h2 class="subtitle">An incremental game by JamJam and EwollyGaming.</h2>
			</div>
		</section>
	</section>

	<div id="app" class="columns">
		<!-- main content area -->
		<div id="activity-panel" class="column has-background-light is-8">
			<div class="level">
				<div class="level-left">
					<button class="button is-primary level-item" @click="sleep(1)">Sleep</button>
					<transition name="fade">
						<p v-if="daysSlept > 0" class="level-item">Time slept: {{ timeSlept }}</p>
					</transition>
				</div>
				<div class="level-right">
					<transition name="fade">
						<p v-if="daysSlept > 15" class="level-item">Money: ${{ money < 1000 ? Math.round(money*100)/100 : Math.round(money) }}</p>
					</transition>
				</div>
			</div>

			<div class="columns">
				<div class="column">
					<div v-if="upgrades.money.dc.available">
						<h3 class="subtitle">The local shop</h3>
						<table class="upgrades-table table is-fullwidth">
							<tbody>
								<transition class="fade">
									<tr v-if="upgrade.available && (upgrade.level < upgrade.maxLevel)" v-for="upgrade in upgrades.money">
										<td width="10%">{{ upgrade.level > 0 ? upgrade.level : '' }}</td>
										<td width="55%">
											<span class="icon has-text-info tooltip">
											  <i class="fas fa-info-circle"></i>
												<span class="tooltiptext" v-html="upgrade.description"></span>
											</span>
											<strong>{{ upgrade.name }}</strong>
										</td>
										<td width="20%">${{ upgrade.cost }}</td>
										<td width="15%">
											<a v-bind:disabled="money < upgrade.cost" class="button is-info" @click="buyUpgrade(upgrade, 'money');">
												Buy
											</a>
										</td>
									</tr>
								</transition>
							</tbody>
						</table>
					</div>

					<div v-if="upgrades.goodDreams.elec.available">
						<p>&nbsp;</p>
						<h3 class="subtitle">The Research Lab! <span style="font-size: 50%">(your garage)</span></h3>
						<table class="upgrades-table table is-striped is-fullwidth">
							<tbody>
								<tr v-if="upgrade.available && (upgrade.level < upgrade.maxLevel)" v-for="upgrade in upgrades.goodDreams">
									<td width="10%">{{ upgrade.level > 0 ? upgrade.level : '' }}</td>
									<td width="55%">
										<span class="icon has-text-info tooltip">
										  <i class="fas fa-info-circle"></i>
											<span class="tooltiptext" v-html="upgrade.description"></span>
										</span>
										<strong>{{ upgrade.name }}</strong>
									</td>
									<td width="20%">{{ upgrade.cost }} <abbr title="Good Dreams">g.d.</abbr></td>
									<td width="15%">
										<a v-bind:disabled="goodDreams < upgrade.cost" class="button is-info" @click="buyUpgrade(upgrade, 'goodDreams');">
											Buy
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<p>&nbsp;</p>
					<div class="columns">
						<div class="column">
							<transition class="fade">
								<div class="panel" v-if="upgrades.money.generator.level >= 2">
									<p class="has-text-centered has-background-dark has-text-white">Electricity</p>
									<table class="table is-fullwidth">
										<tbody>
											<tr>
												<td>Generation Efficiency:</td>
												<td>${{muls.elec}} / g.d.</td>
											</tr>
											<tr>
												<td>Amount Consumed:</td>
												<td>{{upgrades.money.generator.level}} g.d. / night</td>
											</tr>
											<tr>
												<td>Toggle Conversion:</td>
												<td>Not done 😲</td>
											</tr>
										</tbody>
									</table>
								</div>
							</transition>
						</div>
						<div class="column">
							<transition class="fade">
								<div class="panel" v-if="upgrades.money.bed.acquired">
									<p class="has-text-centered has-background-dark has-text-white">Bed</p>
									<table class="table is-fullwidth">
										<tbody>
											<tr>
												<td>You have:</td>
												<td>bed</td>
											</tr>
											<tr>
												<td>Bed is level:</td>
												<td>{{upgrades.money.bed.level}}</td>
											</tr>
											<tr>
												<td>This is:</td>
												<td>placeholder (😁)</td>
											</tr>
										</tbody>
									</table>
								</div>
							</transition>
						</div>
					</div>
				</div>

				<div v-if="upgrades.money.dc.acquired !== null" class="column is-4">
					<img src="images/dreamcatcher.png">
					<transition name="fade">
						<p v-if="goodDreams > 0">You have collected {{ goodDreams }} good {{ goodDreams > 1 ? 'dreams' : 'dream'}}.</p>
					</transition>
					<transition name="fade">
						<p v-if="badDreams > 0">You have collected {{ badDreams }} bad {{ badDreams > 1 ? 'dreams' : 'dream'}}.</p>
					</transition>
				</div>
			</div>
		</div>

		<!-- right hand side of the screen, used for displaying messages -->
		<div id="story-panel" class="column is-3">
			<div class="scrollable">
				<ul id="story-list">
					<li v-for="msg in messages" class="message story">
						<transition name="fade">
							<div class="message-body">
								<p v-for="line in msg" v-html="line"></p>						    
							</div>
						</transition>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		(function(timer) {
			window.addEventListener('load', function() {
				var el = document.querySelector('.scrollable');
				el.addEventListener('scroll', function(e) {
					(function(el) {
						el.classList.add('scroll');
						clearTimeout(timer);
						timer = setTimeout(function() {
							el.classList.remove('scroll');
						}, 500);
					})(el);
				})
			})
		})();
	</script>
	
	<script src="DreamCatcher.js"></script>
</body>
</html>